<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">BacaAtuh Book</h5>
          <p class="grey-text text-lighten-4">Hanya disini tempat buku teruptodate, terlengkat dan terpercaya
            <br>Tunggu apa lagi segera pesan keburu kehabisan</br>
          </p>
          
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Kunjungi media sosial kami untuk mendapatkan discount</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">@BacaAtuh</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">@BacaAtuh01</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">087722123475</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">Support theme by materialize</a>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="js/materialize.min.js"></script>  